.navigation {
    display: flex;
    align-items: flex;
    justify-content: space-between;
    position: sticky;
    top: 1rem;
    z-index: 999;
    background-color: rgba(12, 9, 9, 0.253);
    padding: 1.2rem 3%;
    border-radius: 20px;
    box-sizing: border-box;
}

/* =========================
   BRAND
========================= */

.navigation-brand {
    display: flex;
    align-items: center;
}

.brand-link {
    display: flex;
    align-items: center;
    gap: 0.65rem;

    color: white;

    text-decoration: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
}

.brand-mark {
    width: clamp(1.8rem, 2.5vw, 2.2rem);
    aspect-ratio: 1;

    display: grid;
    place-items: center;

    border: 1px solid #18232d;
    border-radius: 50%;

    color: white;

    font-size: 0.75rem;
    font-weight: 700;

    transition:
        background 0.2s ease,
        color 0.2s ease;
}

.brand-link:hover .brand-mark {
    background: #18232d;
    color: #fff;
}

.brand-name {
    font-size: clamp(1rem, 1.4vw, 1.3rem);
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* =========================
   NAVIGATION LINKS
========================= */

.navigation-links {
    display: flex;
    align-items: center;
    gap: clamp(1.2rem, 2.5vw, 2.8rem);
    text-align: center;

}

.navigation-links a,
.navigation-links button {
    position: relative;

    padding: 0.4rem 0;

    color: white;

    font-size: clamp(0.85rem, 0.9vw, 0.875rem);
    font-weight: 500;

    text-decoration: none;

    transition: color 0.2s ease;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
}

.navigation-links a:hover,
.navigation-links button:hover {
    color: #18232d;
}

/* Active link */

.navigation-links a.active {
    color: #18232d;
    font-weight: 600;
}

/* =========================
   TABLET
========================= */

@media (max-width: 800px) {
    .navigation {
        padding: 1rem 5vw;
    }

    .navigation-links {
        gap: 1.2rem;
    }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {
    .navigation {
        flex-direction: column;
        gap: 1rem;

        padding: 1rem 6vw;
    }

    .navigation-links {
        width: 100%;

        justify-content: center;

        gap: 1.5rem;
    }

    .navigation-links a {
        font-size: 0.75rem;
    }
}